<div class="wrap" [style.backgroundColor]=backColor id="digital_clock">
 <app-digit digit-id="digit_0" [height]=height [oncolor]=onColor [offcolor]=offColor [backcolor]=backColor [num]=hour_0></app-digit>
 <app-digit digit-id="digit_1" [height]=height [oncolor]=onColor [offcolor]=offColor [backcolor]=backColor [num]=hour_1></app-digit>
 <app-separator separator-id="separator_0" [oncolor]=onColor [height]=height></app-separator>
 <app-digit digit-id="digit_2" [height]=height [oncolor]=onColor [offcolor]=offColor [backcolor]=backColor [num]=minute_0></app-digit>
 <app-digit digit-id="digit_3" [height]=height [oncolor]=onColor [offcolor]=offColor [backcolor]=backColor [num]=minute_1></app-digit>
 <app-separator [oncolor]=onColor [height]=height separator-id="separator_1"></app-separator>
 <app-digit digit-id="digit_4" [height]=height [oncolor]=onColor [offcolor]=offColor [backcolor]=backColor [num]=second_0></app-digit>
 <app-digit digit-id="digit_5" [height]=height [oncolor]=onColor [offcolor]=offColor [backcolor]=backColor [num]=second_1></app-digit>
</div>
